*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.horizontal_layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.vertical_layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block {
    display: block;
}

#container {
    margin: 15px;
    padding: 5px;
}

.ct-toolbar {
    height: max-content;
    width: max-content;
    /* top right bottom left */
    margin: 5px 5px 5px 0;
}